<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INFO</title>
  </head>
  <body>
    <header>
      <!-- same header and footer as in the index .html -->
    </header>

    <main>
      <section>
        <h1>Bestiaire intime : apprivoiser les blessures de l'enfance</h1>
        <h2>
          Une exposition de dessins pour rendre visible les conséquences des
          violences faites aux enfants.
        </h2>

        <!-- Description of the exhibitions purpose -->
        <h3> Synopsis > Une exposition de dessins pour rendre visible les conséquences des violences faites aux enfants.</h3>
        <div>
          <p>
            Le projet comprend 9 dessins d’animaux, accompagnés d’un texte
            court. Chaque animal incarne un état émotionnel intense, une petite
            brisure d’identité. Par exemple, le long cou de la Girafe permet de
            tenir la tête hors de l’orage, l’Hippopotame hurle la honte
            existentielle qui hante les victimes de violences sexuelles,
            l’Ourson donne vie à la fatigue dépressive, celle qui git cloue au
            canapé.
          </p>
          <p>
            Tous ces animaux sont nés du ventre sombre du traumatisme. En
            revanche, leur représentation se veut lumineuse, et directement
            accessible. Les textes, autant que les dessins, sont des supports
            pour apprivoiser des monstres blessés (qui trainaient sous le tapis
            de ma conscience) et leur trouver un sens, une utilité, des
            qualités.
          </p>
          <p>
            Faire grandir ce jardin zoologique privé, c’est une manière de
            survivre à l’inceste, en acceptant les vagues d’émotions fossilisées
            qui m’enveloppent comme les couches d’un oignon. Par la peinture,
            l’écriture et l’imagination, mes animaux du dedans s’expriment, on
            s’apprivoise et on se soutient. Ainsi, je peux me réconcilier avec
            des parties de moi qui étaient restées prisonnières du passé et de
            l’amnésie traumatique.
          </p>
          <p>
            Ce travail pourra toucher évidemment les survivant.es, celleux qui
            cherchent sans cesse à se colmater de l’intérieur, mais également un
            public plus large. Le Bestiaire intime permet à chacun et chacune de
            s’interroger sur son propre monde intérieur. Car personne ne sort
            indemne de l’enfance : il y a toujours des morsures à panser, des
            fauves à apprivoiser, et une enfant intérieure à consoler.
          </p>
        </div>
      </section>

      <!-- Artist -->
      <section>
        <article>
          <h3>L'artiste > Oriane Royon Da Silva</h3>
          <p>
            J'ai imaginé ce projet artistique pendant l’année 2023, à l’occasion
            d'une levée d'amnésie traumatique, lorsque sont remontés des bribes
            de souvenirs d’une violence inouïe. J'ai été contrainte d’affronter
            des spectres que j’aurais largement préféré me taire à moi-même.
          </p>
          <p>
            Dire était une étape nécessaire de mon chemin de guérison, bien que
            de l'inceste, on ne guérisse jamais vraiment. J’ai tenté par la même
            de contribuer à la création et à la dissémination de connaissances
            collectives, pour reprendre du pouvoir sur nos vies. Le Bestiaire
            Intime, est projet artistique, mais aussi politique.
          </p>
          <br> 

          <p>
            Les photographies des oeuvres ont été prises par 
            <a href="http://louiseoligny.com/"> Louise Oligny </a>
          </p>

        </article>




      </section>

      <!-- Place and Date -->
      <section>
        <article>
          <h3>Où voir l'exposition ? > Bestiaire Intime en chair et en os</h3>
          <div>
            <p>Du 12 au 29 Novembre 2024</p>
            <p>Gallerie Longue Vue, 16 rue Méchin, 93450 L'Île-Saint-Denis</p>
          </div>
        </article>
        <article>
          <!--We could also do button to dowload the communication flyer when it's ready (in septembre I hoppe?)  -->
        </article>
      </section>

      <!-- Contact -->
      <section>
        <h3>Contacts</h3>
        <nav>
          <ul>
            <li>
              <a href="https://orianeords.github.io/ORDSwebdev/"
                >Site web d'Oriane ORDS</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/longuevue.expo/?hl=fr"
                >Compte instagram de la Gallerie Longue Vue</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </main>

    <footer>
      <!-- same header and footer as in the index .html -->
    </footer>
  </body>
</html>
