<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="png"
      href="../public/images/favicon.png"
    />
    <title>Bestiaire Intime : apprivoiser les blessures de l'enfance</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />

    <link href="../public/css/sculptures.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav class="navigation navigation--desktop">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <div class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="/" class="navigation__link">Home</a>
            </li>
            <li class="navigation__item">
              <a href="./synopsis.html" class="navigation__link">Synopsis</a>
            </li>
            <li class="navigation__item">
              <a href="./paitings.html" class="navigation__link">Paitings</a>
            </li>
            <li class="navigation__item">
              <a href="./sculptures.html" class="navigation__link">Sculptures</a>
            </li>
            <li class="navigation__item">
              <a href="./infos.html" class="navigation__link">Infos</a>
            </li>
            <li class="navigation__item">
              <a
              class="navigation__link"
              href="https://orianeords.github.io/ORDSwebdev/"
              target="_blank"
                >Oriane RDS</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <header>
        <h1>
          Bestiaire Intime
        </h1>
        <h2>
          apprivoiser les blessures de l'enfance
        </h2>
      </header>

      <section id="sculptures">

        <h3> Sculptures > incarner la résilience</h3>

        <div class="carousel">
          <ul>
            <li><img src="../public/images/arts/sculptures/girafe_sculpt_lr.png"></li>
            <li><img src="../public/images/arts/sculptures/scarab_sculpt_lr.png"></li>
            <li><img src="../public/images/arts/sculptures/slug_sculpt_lr.png"></li>
            <li><img src="../public/images/arts/sculptures/woolf_sculpt_lr.png"></li>
          </ul>
          <div class="carousel-background"></div>
          <div class="carousel-prev">&#10094;</div>
          <div class="carousel-next">&#10095;</div>
          <div class="dots"></div>
          <script src="../public/scripts/carousel.js"></script>
        </div>
  
        
      </section>
      <section id="background-image">
        <div id="background-image-container"></div>
      </section>
    </main>



    <footer>
      <p>Copyright © Oriane ORDS</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="../public/scripts/sculptures.js"></script>
  </body>
</html>
