<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="png" href="./public/images/favicon.png" />
    <title>Bestiaire Intime : apprivoiser les blessures de l'enfance</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />

    <link href="../public/css/synopsis.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav class="navigation navigation--desktop">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <div class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="/" class="navigation__link">Home</a>
            </li>
            <li class="navigation__item">
              <a href="./synopsis.html" class="navigation__link">Synopsis</a>
            </li>
            <li class="navigation__item">
              <a href="./paitings.html" class="navigation__link">Paitings</a>
            </li>
            <li class="navigation__item">
              <a href="./sculptures.html" class="navigation__link">Sculptures</a>
            </li>
            <li class="navigation__item">
              <a href="./infos.html" class="navigation__link">Infos</a>
            </li>
            <li class="navigation__item">
              <a
              class="navigation__link"
              href="https://orianeords.github.io/ORDSwebdev/"
              target="_blank"
                >Oriane RDS</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <header>
        <h1>
          Bestiaire Intime
        </h1>
        <h2>
          apprivoiser les blessures de l'enfance
        </h2>
      </header>

      <section id="about-project">
        <article>
          <h3>
            Synopsis > Une exposition de dessins pour rendre visible les
            conséquences des violences faites aux enfants.
          </h3>
          <div id="project-description" class="description hide">
            <p>
              Le Bestiaire intime comprend 9 dessins d’animaux, accompagnés d’un
              texte court. Chaque animal incarne un état émotionnel intense, une
              petite brisure d’identité. Par exemple, le long cou de la Girafe
              permet de tenir la tête hors de l’orage, l’Hippopotame hurle la
              honte existentielle qui hante les victimes de violences sexuelles,
              l’Ourson donne vie à la fatigue dépressive, celle qui cloue au
              canapé.
            </p>
            <p>
              Tous ces animaux sont nés du ventre sombre du traumatisme. En
              revanche, leur représentation se veut lumineuse, et directement
              accessible. Les textes, autant que les dessins, sont des supports
              pour apprivoiser des monstres blessés (qui trainaient sous le
              tapis de ma conscience) et leur trouver un sens, une utilité, des
              qualités.
            </p>
            <p>
              Faire grandir ce jardin zoologique privé, c’est une manière de
              survivre à l’inceste, en acceptant les vagues d’émotions
              fossilisées qui m’enveloppent comme les couches d’un oignon. Par
              la peinture, l’écriture et l’imagination, mes animaux du dedans
              s’expriment, on s’apprivoise et on se soutient. Ainsi, je peux me
              réconcilier avec des parties de moi qui étaient restées
              prisonnières du passé et de l’amnésie traumatique.
            </p>
            <p>
              Ce travail pourra toucher évidemment les survivant.es, celleux qui
              cherchent sans cesse à se colmater de l’intérieur, mais également
              un public plus large. Le Bestiaire intime permet à chacun et
              chacune de s’interroger sur son propre monde intérieur. Car
              personne ne sort indemne de l’enfance : il y a toujours des
              morsures à panser, des fauves à apprivoiser, et une enfant
              intérieure à consoler.
            </p>
          </div>
        </article>
      </section>

      <section id="background-image">
        <div id="background-image-container"></div>
      </section>
    </main>

    <footer>
      <p>Copyright © Oriane ORDS</p>
    </footer>
    <script src="./public/scripts/global.js"></script>
  </body>
</html>
