div.carousel {
  position: relative;
  ul {
    height: 100%;
    overflow: hidden;
    li {
      height:100%;
      img {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all .33s ease-in-out;
        opacity: 0;
        &.current {
          opacity: 1;
          left: 50%;
          max-height:85%;
          max-width:50%;
        }
        &.side-left,
        &.side-right{
          opacity: 1;
          max-height: 30%;
          max-width: 20%;
        }
        &.side-left{
          left: 15%;
        }
        &.side-right{
          left: 85%;
        }
        &.hidden{
          opacity: 0;
          left: 50%;
          max-height: 15%;
          max-width: 10%;
        }
      }
    }
  }
  div.carousel-background {
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background/pattern_terrazzo.png');
    background-position: center;
    background-repeat: repeat;
    opacity: 1;
  }
  div.carousel-prev,
  div.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
    padding: 3rem 1rem;
    border-radius: 5px;
    &:hover {
      background-color: hsla(0, 0%, 80%, 0.15);
      box-shadow: 0 0 5px 3px  hsla(0, 0%, 80%, 0.25);
    }
  }
  div.carousel-prev {
    left: 0;
  }
  div.carousel-next {
    right: 0;
  }
}
