/*  XXXXXXXXXXXXX HOME SECTION  XXXXXXXXXXXXX*/
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home__maincontainer {
  width: 100%;
}
#home__hcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home__bgicontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
#home__bgicontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom right;
}

/* XXXXXXXXXXXXX NAV-SCROLL SECTION XXXXXXXXXXXXX */
#nav-scroll {
  display: none;
  position: fixed;
  top: 7rem; /* DESKTOP: 2rem:(space) + 3:(menu) + 2:(space) */
  left: 2rem;
  width: 3rem;
  height: calc(
    100vh - 9rem
  ); /* DESKTOP: 100vh:(viewport) - 7rem:(menu+spaces) - 2rem:(space) */
  z-index: 1;
}
#nav-scroll ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#nav-scroll li {
  position: relative;
  height: 3rem;
  width: 3rem;
  background-color: var(--medium-purple);
  border-radius: 50%;
}

.nav-scroll__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#nav-scroll__icon-arrow-down {
  transform: rotate(180deg);
}

/* XXXXXXXXXXXXX NAV-GALLERY SECTION XXXXXXXXXXXXX */

@keyframes element_hide {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes element_show {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#nav-gallery {
  * {
    font-family: "Oswald", sans-serif;
  }
  transition: all 0.33s ease-in-out;
  animation-duration: 0.33s;
  position: fixed;
  left: 2rem;
  top: 10rem; /* 7(menu+spaces) + 3(arrow-up) = 10rem */
  min-width: 3rem;
  height: calc(
    (100vh - 15rem)
  ); /* 7(menu+spaces) + 3(arrow-up) + 3(arrow-down) + 2(space) = 15rem */
  opacity: 0;
  display: none;
  z-index: 1;
  &.element-hide {
    animation-name: element_hide;
    opacity: 0;
    display: none;
  }
  &.element-show {
    animation-name: element_show;
    opacity: 1;
    display: block;
  }
}

#nav-gallery ul {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

#nav-gallery ul figure {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color: transparent;
}

#nav-gallery ul figure img {
  --sqSize: calc(((100vh - 15rem - 8 * 0.75rem) / 9));
  padding: 0;
  margin: 0;
  border: 0;
  width: var(--sqSize);
  height: var(--sqSize);
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
}

#nav-gallery ul figure figcaption {
  display: none;
  position: absolute;
  text-wrap: nowrap;
  top: 50%;
  transform: translate(60px, -50%);
  color: var(--light-purple);
}

#nav-gallery ul figure:hover img {
  box-shadow: 0 0 2px 2px var(--light-purple);
}

#nav-gallery ul figure:hover figcaption,
#nav-gallery ul figure:focus figcaption {
  @media (min-width: 1090px) {
    display: block;
  }
}
.highlight figure img {
  box-shadow: 0 0 0 1px var(--light-purple) !important;
}
.highlight figure figcaption {
  @media (min-width: 1260px) {
    display: block !important;
  }
}

@media (max-height: 30rem) and (min-width: 601px) {
  #nav-gallery {
    display: none !important;
  }
}

/* XXXXXXXXXXXXX PAINTINGS SECTION  XXXXXXXXXXXXX*/
#paintings {
  position: relative;
}

#paintings article {
  transition: all 0.33s ease-in-out;
  animation-duration: 0.33s;
  &.element-show {
    animation-name: element_show;
    opacity: 1;
    display: block;
  }
  &.element-hide {
    animation-name: element_hide;
    opacity: 0;
    display: none;
  }
}

#paintings audio {
  display: block;
  align-self: flex-end;
  transform: translateY(-0.75rem);
  height: 2rem;
  border-radius: 5%/50%;
}

#paintings audio:hover,
#paintings audio:focus {
  box-shadow: 0 0 5px 3px var(--light-purple);
}

#paintings figure {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 5rem 0 2rem 0;
}

#paintings article figure img {
  max-width: 100%;
  box-shadow: -1px -1px 1px 0 black, 4px 6px 12px 6px black;
}

#paintings figure img .paysage {
  max-height: calc(100vh - 2rem);
}

#paintings figure figcaption {
  display: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

#paintings figure div.technique {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  margin: 2rem;
}
#paintings .description {
  * {
    transition: all 0.5s ease;
  }
}

#paintings .description input {
  display: none;
}
#paintings .description label:before {
  content: "▼ lire ";
}
#paintings .description input:checked ~ label:before {
  content: "▲ replier ";
}
#paintings .description p:not(p:nth-of-type(1)):not(.tw-violences) {
  overflow: hidden;
  max-height: 0;
  padding-bottom: 0;
}
#paintings .description input:checked ~ p:not(p:nth-of-type(1)):not(.tw-violences) {
  max-height: 500px;
  padding-bottom: 1rem;
}

/* XXXXXXXXX CONTACT SECTION  XXXXXXX */

#contact__container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10%;
  text-align: center;
  flex-wrap: wrap;
}
#contact__container a {
  max-width: 45%;
  min-height: 150px;
  min-width: 150px;
}

#contact__container img {
  padding: 1.5rem;
  background-color: var(--medium-purple);
  border-radius: 15%;
  transition: all 1s;
  width: 100%;
  height: auto;
  aspect-ratio: 700 /800;
  max-height: 50vh;
}

#contact__container img:hover {
  background-color: rgba(151, 131, 180, 0.8);
  padding: 0.5rem;
}
#contact__container p {
  padding: 1rem 0;
  font-weight: 200;
  text-transform: uppercase;
}

/* XXXXXXXXXXXXX BACKGROUND PATTERN SECTION  XXXXXXXXXXXXX*/
#background-image > #background-image-container {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 150vh;
  opacity: 0.5;
  background-image: url("../images/background/pattern_terrazzo.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  transition: all 0.1667s ease-in-out;
  scale: 1.025;
}
section:hover ~ #background-image div#background-image-container {
  transition: all 0.1667s ease-in-out;
  scale: 1.05;
}

/* XXXXXXXXXXXX  FOOTER  XXXXXXXXXXXXXX*/
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--intense-purple-transp);
  /* overflow-x: clip; */
  /* overflow-y: visible; */
}

footer p {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Source Sans 3", sans-serif;
  color: var(--light-green-transparent);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  z-index: 2;
}

#footer-giraffe__container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  overflow-x: clip;
  overflow-y: visible;
  z-index: 1;
}

.footer-giraffe__img {
  --height-size: 310px;
  --width-size: 175px;
  position: absolute;
  left: calc(0px - var(--width-size));
  bottom: 0;
  transition: all 3s ease-out;
  --scale: 0.73;
  &.hide-giraffe {
    transition: all 0.25s ease;
  }
  &.show-giraffe {
    -webkit-transform: var(--transform-show, );
    transform: var(--transform-show, );
  }
}

#footer-giraffe-1 {
  --scale1: calc(var(--scale) * 0.7);
  &.show-giraffe {
    --transform-show: translate( calc(var(--width-size) + 35vw), calc(var(--height-size) * (1 - var(--scale1)) / 2) )scale(var(--scale1));
  }
}
#footer-giraffe-2 {
  --scale2: calc(var(--scale) * 1);
  &.show-giraffe {
    --transform-show: translate( calc(var(--width-size) + 20vw), calc(var(--height-size) * (1 - var(--scale2)) / 2) )scale(var(--scale2));
  }
}

#footer-giraffe-3 {
  --scale3: calc(var(--scale) * 1.5);
  &.show-giraffe {
    --transform-show: translate( calc(var(--width-size) + 55vw), calc(var(--height-size) * (1 - var(--scale3)) / 2) ) scale(var(--scale3));
  }
}
