:root {
  --dark-background: #090a0b;
  --clear-text: ghostwhite;
  /* purple */
  --light-purple: #d4c3d8;
  --medium-purple: #9783b4;
  --intense-purple: #402666;
  /* green */
  --light-green: #dee8e3;
  --medium-green: #7ed6ac;
  --intense-green: #30646b;
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--medium-purple);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.9rem;
}
h4 {
  font-size: 1.8rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--medium-purple);
}
a:hover {
  color: var(--light-purple);
}

.description {
  color: var(--light-purple);
  p {
    margin: 1.5rem 0 1rem 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.hide {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

html {
  body {
    background-color: var(--dark-background);
    color: var(--light-purple);
    font-family: "Oswald", sans-serif;
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
    box-sizing: border-box;

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: end;
      padding: 0 5rem;
      background-color: transparent;
      p {
        
      }
    }
  }
}