:root {
  --dark-background: #090a0b;
  --clear-text: ghostwhite;
  /* purple */
  --light-purple: #d4c3d8;
  --medium-purple: #9783b4;
  --intense-purple: #402666;
  /* green */
  --light-green: #dee8e3;
  --medium-green: #7ed6ac;
  --intense-green: #30646b;
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  body {
    background-color: var(--dark-background);
    color: var(--light-purple);
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
    box-sizing: border-box;
  }

  main {
      width: 90%;
      margin: 2rem auto;
      header {
        text-align: center;
        margin: 4rem 0 2rem 0;
      }
    } 
  }


  a {
    text-decoration: none;
    &:hover {
      color: var(--medium-purple);
    }
  }

  ul {
    list-style: none;
  }
  


  /* not used at the moment in the html  */
  .hide {
    transition: all 0.33s ease-in-out;
    overflow: hidden;
    height: 0;
    opacity: 0;
  }
  