@import url("./global.css");
@import url("./main-navbar.css");
@import url("./carousel.css");
@import url("./text-titles.css");

/*  XXXXXXXXXXXXX HOME SECTION  XXXXXXXXXXXXX*/
#home__bgicontainer {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position-x: right;
  background-position-y: bottom;
  background-image: url("../images/arts/paintings/ourson_bgi.png");
}

/* XXXXXXXXXXXXX PAINTINGS SECTION XXXXXXXXXXXXX */
.highlight figure figcaption {
  @media (min-width: 1150px) {
    display: block !important;
  }
}
.highlight figure img {
  box-shadow: 0 0 0 1px var(--medium-purple);
}
@keyframes nav-gallery-hide {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes nav-gallery-show {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#nav-gallery {
  transition: all 0.33s ease-in-out;
  animation-duration: 0.33s;
  position: fixed;
  left: 3.5rem;
  top: 120px;
  transform: translateX(-50%);
  height: calc(100vh - 120px - 30px);
  opacity: 0;
  display:none;
}

#nav-gallery.nav-gallery-show {
  animation-name: nav-gallery-show;
  display: block;
  opacity: 1;
}
#nav-gallery.nav-gallery-hide {
  animation-name: nav-gallery-hide;
  display: none;
  opacity: 0;
}

#nav-gallery ul {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
ul#nav-gallery-art-icon {
  display: flex;
}
ul#nav-gallery-arrow-icon {
  display: none;
}
@media (max-height: 640px) { 
  #nav-gallery {
    height: 120px;
  }
  ul#nav-gallery-art-icon {
    display: none;
  }
  ul#nav-gallery-arrow-icon {
    display: flex;
  }
}

#nav-gallery ul figure {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
}
#nav-gallery ul figure img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
#nav-gallery ul figure figcaption {
  display: none;
  position: absolute;
  text-wrap: nowrap;
  top: 50%;
  transform: translate(60px, -50%);
  color: var(--light-purple);
}
#nav-gallery ul figure:hover img,
#nav-gallery ul figure:focus img {
  box-shadow: 0 0 2px 2px var(--light-purple);
}
#nav-gallery ul figure:hover figcaption,
#nav-gallery ul figure:focus figcaption {
  @media (min-width: 1090px) {
    display: block;
  }
}

#nav-gallery div.vertical-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 1px;
  height: 99%;
  background-color: var(--light-green);
}

#paintings audio {
  display: block;
  align-self: flex-end;
  transform: translateY(-0.75rem);
  height: 2rem;
  border-radius: 5%/50%;
}
#paintings audio:hover,
#paintings audio:focus {
  box-shadow: 0 0 5px 3px var(--medium-purple);
}

#paintings figure {
  text-align: center;
  width: 100%;
  margin: 5rem 0 1rem 0;
}
#paintings figure img {
  max-width: 100%;
  box-shadow: -1px -1px 1px 0 black, 4px 6px 12px 6px black;
}
#paintings figure img .paysage {
  max-height: calc(100vh - 2rem);
}

#paintings figure figcaption {
  display: none;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}

#paintings .technique {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 6rem;
}

/* XXXXXXXXXXXXX SCULPTURES SECTION  XXXXXXXXXXXXX*/

#sculptures div.carousel {
  width: 100%;
  height: 65vh;
}

/* XXXXXXXXXXXXX BACKGROUND PATTERN SECTION  XXXXXXXXXXXXX*/
#background-image > #background-image-container {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  background-image: url("../images/background/pattern_terrazzo.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  transition: all 0.1667s ease-in-out;
  scale: 1.025;
}
section:hover ~ #background-image div#background-image-container {
  transition: all 0.1667s ease-in-out;
  scale: 1.05;
}

/* X
/*
#info__about-project:hover #project-description {
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  height: 100%;
  opacity: 1;
} */

/* XXXXXXXXXXXX  FOOTER  XXXXXXXXXXXXXX*/
footer {
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--intense-purple-transp);
}
footer p {
  font-size: 0.8rem;
  font-weight: 100;
  font-family: "Source Sans 3", sans-serif;
  color: var(--light-green-transp);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem ; 

}
