@import url("./global.css");
@import url("./main-navbar.css");
@import url("./carousel.css");
@import url("./text-titles.css");

/*  XXXXXXXXXXXXX HOME SECTION  XXXXXXXXXXXXX*/
#home__bgicontainer {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  margin-right: 200px ;
  width: 100vw;
  height: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: calc(150vh > 150vw ? 150vh || 150vw);
  background-origin: content-box;
  background-position-x: right  ; 
  background-position-y: bottom; 
  background-image: url("../images/arts/paintings/ourson_bgi.png");
}

/* XXXXXXXXXXXXX PAINTINGS SECTION XXXXXXXXXXXXX */
.highlight figure figcaption {
  display: block !important;
}
.highlight figure img {
  box-shadow: 0 0 0 1px var(--medium-purple);
}
@keyframes nav-gallery-hide {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 0;
  }
}
@keyframes nav-gallery-show {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
#nav-gallery {
  transition: all 0.33s ease-in-out;
  animation: nav-gallery-show;
  animation-duration: 0.33s;
  @media (max-height: 640px) {
    animation-name: nav-gallery-hide;
    display: none;
    opacity: 0;
  }
  &.nav-gallery-hidden {
    animation-name: nav-gallery-hide;
    display: none;
    opacity: 0;
  }
  position: fixed;
  left: 50px;
  top: 20%;
  transform: translateX(-50%);
  min-height: 450px;
  height: 70vh;
}
#nav-gallery ul {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#nav-gallery ul figure {
  position: relative;
  margin: 0;
  z-index: 2;
}
#nav-gallery ul figure img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
#nav-gallery ul figure figcaption {
  display: none;
  position: absolute;
  text-wrap: nowrap;
  top: 50%;
  transform: translate(60px, -50%);
}
#nav-gallery ul figure:hover img,
#nav-gallery ul figure:focus img {
  box-shadow: 0 0 2px 2px var(--light-purple);
}
#nav-gallery ul figure:hover figcaption,
#nav-gallery ul figure:focus figcaption {
  display: block;
  color: var(--light-purple);
}
#nav-gallery div.vertical-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 1px;
  height: 98%;
  background-color: var(--light-green);
}

#paintings {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#paintings audio {
  display: block;
  height: 1.5rem;
  border-radius: 4%/50%;
  padding-bottom: 0.2rem;
}
#paintings audio:hover,
#paintings audio:focus {
  box-shadow: 0 0 5px 3px var(--medium-purple);
}

#paintings figure {
  text-align: center;
  width: 100%;
}
#paintings figure img {
  max-height: calc(100vh - 2rem);
  max-width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
  box-shadow: -1px -1px 1px 0 black, 4px 6px 12px 6px black;
}
#paintings figure figcaption {
  display: none;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}

#paintings .technique {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 2rem;
}

/* XXXXXXXXXXXXX SCULPTURES SECTION  XXXXXXXXXXXXX*/
#sculptures {
  display: flex;
  flex-flow: column;
  margin: 3rem 0 2rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#sculptures h3 {
  align-self: self-start;
  margin: 0 0 2rem 0;
}
#sculptures div.carousel {
  width: 100%;
  height: 65vh;
}

/* XXXXXXXXXXXXX BACKGROUND PATTERN SECTION  XXXXXXXXXXXXX*/
#background-image > #background-image-container {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-image: url("../images/background/pattern_terrazzo.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

/* XXXXXXXXXXXXX INFOS SECTION XXXXXXXXXXXXX */
#info__about-project {
  margin: 4rem 0 2rem 0;
}
#info__about-project:hover #project-description {
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  height: 100%;
  opacity: 1;
}

/* XXXXXXXXXXXX  FOOTER  XXXXXXXXXXXXXX*/
footer {
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0 5rem 1rem 0;
  background-color: transparent;
}
footer p {
  background-color: transparent;
  font-size: 1.5rem;
  color: hsla(0, 0%, 0%, 0.5);
  text-shadow: 1px 1px 0px hsla(289, 21%, 81%, 0.85);
}
