body > header > *,
body > header > *::before,
body > header > *::after {
  margin: 0;
  padding: 0;
}



  .navigation--desktop {
    .navigation__checkbox {
      display: none;
    }

/*syling the button + the icon on the button */
    .navigation__button {
      background-color: var(--intense-purple-transp);
      height: 3rem;
      width: 3rem;
      position: fixed;
      top: 2rem;
      left: 2rem;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      z-index: 999;
    }
    .navigation__checkbox:checked ~ .navigation__button {
      background-color: var(--intense-purple-transp);
    }
    .navigation__checkbox:checked
      ~ .navigation__button
      .navigation__icon::before,
    .navigation__checkbox:checked
      ~ .navigation__button
      .navigation__icon::after {
      background-color: var(--light-green) !important;
    }
    .navigation__icon {
      position: relative;
      margin-top: 1.5rem;
    }
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
      width: 1.5rem;
      height: 2px;
      background-color: var(--light-green); 
      display: inline-block;
      transition: all 0.2s;
    }
    .navigation__icon::before,
    .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
    }
    .navigation__icon::before {
      top: -0.5rem;
    }
    .navigation__icon::after {
      top: +0.5rem;
    }
    .navigation__button:hover .navigation__icon::before {
      top: -0.7rem;
    }
    .navigation__button:hover .navigation__icon::after {
      top: 0.7rem;
    }
    .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
      background-color: transparent;
    }
    .navigation__checkbox:checked
      ~ .navigation__button
      .navigation__icon::before {
      transform: rotate(135deg);
      top: 0;
    }
    .navigation__checkbox:checked
      ~ .navigation__button
      .navigation__icon::after {
      transform: rotate(-135deg);
      top: 0;
    }


/* styling the nav (happens when button clicked)  */
    .navigation__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      visibility: hidden ;
      width:1px ;  
      z-index: 998;
      background: linear-gradient(
        var(--intense-purple-transp), 
        95%, var(--medium-purple-transp)
      ); 
      transition: all 1s cubic-bezier(0.5, 0.8, 0.8, 1);
    }
    .navigation__checkbox:checked ~ .navigation__nav {
      visibility : visible; 
      width : 40% ; 
    }

    .navigation__list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      text-align: left;
    }
    .navigation__item{
      margin: 2rem 0rem ;
    }
/* styling of the navigation__link + animation when hovered */ 
    .navigation__link {
      border-radius: 5%;
      background-color: var(--medium-purple-transp);
      background-image: 
      linear-gradient(
        300deg, 
        var(--intense-purple-transp),
        10%, var(--medium-purple-transp), 
        75%, var(--light-green));  
      color: var(--intense-purple);
      font-family: "Oswald", sans-serif; 
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
      padding: 1rem 2rem;
      text-decoration: none; 
      text-transform: uppercase;
      transition: background-size 1s ease-in ; 
    }        
      .navigation__link:hover, 
      .navigation__link:active {
      background-size: 100%;
      
    }


/* to be changed if necessary with the media queries */ 
    @media screen and (max-width: 600px) {
      .navigation__checkbox:checked ~ .navigation__nav {
        width: 100%;
      }
    }
  }