:root {
  /* screen sizes */
  --desktop-breakpoint: 1800px;
  --tablet-landscape-breakpoint: 1200px;
  --tablet-portrait-breakpoint: 900px;
  --phone-breakpoint: 600px;
  --small-phone-breakpoint: 400px;
}

@media only screen and (max-width: 900px) {
  html main {
    max-width: 50rem;
  }
}
@media only screen and (max-width: 600px) {
  html main {
    padding-left: 0; 
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
  }
  section .header__h1h2container {
    padding: 2rem 0 2rem 0;
  }
  section .header__h1h2container h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--light-purple);
  }
  h2 {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--medium-purple);
  }
  #infos h2 {
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  #infos h3 {
    font-size: 1.4rem;
    color: var(--intense-green);
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
  #infos .description {
    padding-bottom: 2rem;
  }
  section {
    padding-top: 0;
    padding-bottom: 0;
  }
  article {
    padding-top: 0;
    padding-bottom: 5rem;
  }
  .acknowledgment li {
    width: 100%;
    padding: 0;
  }
  .acknowledgment li details{
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--medium-purple);
  }
  section {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #home h1 {
    font-size: 4rem;
  }
  #home h2 {
    font-size: 3rem;
  }
}
@media (min-width: 1800px) {
  html main {
    min-width: 100rem !important ;
    max-width: 200rem ;
    padding-left: 25rem ;
    padding-right: 15rem;
  }
  .acknowledgment li {
    width: 20%;
  }
  .description:not(.description--col) p {
    width: 50rem ; 
  }
  .description--col{
    column-count : 2 ;
    column-gap: 4rem;
  }
  #paintings article {
    margin-bottom : 2rem  ;
  }
  #paintings figure {
    width: calc(50% - 1.5rem);
  }
  #paintings .description {
    width: calc(50% - 1.5rem);
    margin-top: 5rem;
  }
  #panthere > .tw-violences {
    position: absolute;
    top: 8rem;
  }
}

@media (max-width: 600px) {
  #paintings h3 { 
    font-size:1.6rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  #paintings figure{
    margin: 2rem 0 ; 
   }
  #paintings .article__header {
    gap : 2rem; 
  }
  section:not(:first-of-type) {
    padding-top: 5rem;
  }
  #nav-scroll {
    top: 2rem;
    left: calc(100vw - 7rem - 1.5rem);
    width: 7rem;
    height: 3rem;
  }
  #nav-scroll ul {
    flex-direction: row;
  }

  #paintings #nav-gallery {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2rem 0 2rem 0;
  }
  #paintings #nav-gallery::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--medium-purple);
    z-index: -1;
  }
  #paintings #nav-gallery ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #paintings #nav-gallery ul li {
    border-radius: 50%;
    background-color: var(--medium-purple);
    width: 2rem;
    height: 2rem;
  }
  #paintings #nav-gallery ul li figure:hover img {
    box-shadow: none;
  }
  #paintings #nav-gallery ul li:not(.nav-gallery__arrow) {
    height: 1rem;
    width: 1rem;
  }
  #paintings #nav-gallery ul li:not(.nav-gallery__arrow) figure img {
    --sqSize: 1rem;
    opacity: 0;
  }
  #paintings #nav-gallery ul li:not(.nav-gallery__arrow) figure img:hover {
    box-shadow: none;
  }
  #paintings #nav-gallery ul li.nav-gallery__arrow {
    display: block;
  }
  #paintings #nav-gallery ul li.nav-gallery__arrow figure img {
    height: 50%;
    width: 50%;
  }
  #paintings #nav-gallery ul li.nav-gallery__arrow#nav-gallery__arrow-left img {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  #paintings #nav-gallery ul li.nav-gallery__arrow#nav-gallery__arrow-right img {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  #paintings #nav-gallery ul li.highlight {
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--light-green);
  }
  #paintings #nav-gallery ul li:hover {
    background-color: var(--intense-green);
  }
  #paintings #paintings__container article figure {
    width: 100%;
    aspect-ratio: 1;
  }
  @supports not (aspect-ratio: 1) {
    #paintings #paintings__container article figure {
      height: calc(100vw - 3rem);
    }
  }
  
  #paintings #paintings__container article figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  #hippopotame  img { object-position:  20%  50%; }
  #panthere     img { object-position:  50% 100%; }
  #lemuriens    img { object-position:  90%  50%; }
  #girafe       img { object-position:  50%  20%; }
  #ourson       img { object-position: 100%  50%; }
  #limace       img { object-position:  30%  50%; }
  #rhinoceros   img { object-position:  50%  50%; }
  #scarabee     img { object-position:  100% 50%; }
  #louve-paon   img { object-position:  80%  50%; }

  #paintings #paintings__container article figure .technique {
    background-color: var(--intense-purple-transp);
    margin: 0;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  #paintings #paintings__container article figure img:hover ~ .technique, #paintings #paintings__container article figure .technique:hover {
    opacity: 1;
  }
  footer {
    margin-top: 15rem;
  }
}/*# sourceMappingURL=media-queries.css.map */