@import url("./global.css");
@import url("./nav.css");

html {
  body {
    main {
      width: 90%;
      margin: 2rem auto;

      header {
        text-align: start;
        margin: 4rem 0 2rem 0;
      }

      #paintings {
        display: flex;
        flex-flow: column;
        margin: 3rem 0 2rem 0;
        width: 100%;
        justify-content: center;
        align-items: center;

        h3 {
          align-self: self-start;
        }

        #nav-gallery {
          position: fixed;
          left: 0px;
          top: 15%;
          min-height: 450px;
          height: 70vh;

          ul {
            top: 0;
            height: 100%;
            z-index: 2;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            & figure {
              position: relative;
              margin: 0;
              z-index: 2;
              & img {
                height: 45px;
                width: 45px;
                border-radius: 50%;
              }
              & figcaption {
                display: none;
                position: absolute;
                text-wrap: nowrap;
                top: 22%;
                left: 53px;
              }
              &:hover img,
              &:focus img {
                box-shadow: 0 0 0 1px var(--light-purple);
              }
              &:hover figcaption,
              &:focus figcaption {
                display: block;
              }
            }
          }
          div.vertical-line {
            position: absolute;
            top: 0;
            left: 55px;
            z-index: 1;
            width: 1px;
            height: 100%;
            background-color: var(--light-green);
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }
        article {
          padding: 3rem;
          margin-top: 4rem;
          display: flex;
          flex-flow: column;
          width: 80%;
          align-items: center;

          background: hsla(0, 0%, 0%, 0.6);

          /* if disabling the panel background, disable also box-shadow bellow */
          box-shadow: -1px -1px 1px 0 black, 4px 6px 12px 6px black;

          h4 {
            align-self: self-start;
            margin-bottom: 2rem;
          }
          audio {
            display: block;
            display: none;
            align-self: baseline;
            height: 1.5rem;
            border-radius: 4%/50%;
            &:hover,
            &:focus {
              box-shadow: 0 0 5px 3px var(--medium-purple);
            }
          }
          figure {
            text-align: center;
            width: 100%;
            img {
              max-height: calc(100vh - 2rem);
              max-width: 100%;
              margin-bottom: 1rem;
              box-shadow: -1px -1px 1px 0 black, 4px 6px 12px 6px black;
            }
            figcaption {
              display: none;
              text-align: center;
              font-weight: 500;
              font-size: 1.6rem;
            }
          }
          .technique {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            text-align: center;
            p {
              margin: 0;
              padding: 0;
            }
          }
          &:last-child {
            margin-bottom: 3rem;
          }
        }
      }
      #background-image-container {
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.3;
        background-image: url("../images/background/pattern_terrazzo.png");
        background-position: center;
        background-size: auto;
        background-repeat: repeat;
        background-position: center;
        &.visible {
          /* visibility: visible; */
          opacity: 0.15;
          transition: all 0.25s ease-in-out;
        }
        &.hidden {
          /* visibility: hidden; */
          opacity: 0;
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }
}
.highlight {
  & figure {
    & img {
      box-shadow: 0 0 0 1px var(--medium-purple);
    }
    & figcaption {
      display: block !important;
    }
  }
}
