@import url("./global.css");
@import url("./nav.css");
@import url("./carousel.css");

html {
  body {
    main {
      width: 90%;
      margin: 2rem auto;

      header {
        text-align: start;
        margin: 4rem 0 2rem 0;
      }

      #background-image-container {
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.3;
        background-image: url("../images/background/pattern_terrazzo.png");
        background-position: center;
        background-size: auto;
        background-repeat: repeat;
        background-position: center;
        &.visible {
          /* visibility: visible; */
          opacity: 0.15;
          transition: all 0.25s ease-in-out;
        }
        &.hidden {
          /* visibility: hidden; */
          opacity: 0;
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }
}
.highlight {
  & figure {
    & img {
      box-shadow: 0 0 0 1px var(--medium-purple);
    }
    & figcaption {
      display: block !important;
    }
  }
}
