/* XXXXXXXX TITLES XXXXXXXX */

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-weight: 200;
  line-height: 1.5; 
  padding: 0;
}
h1 {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--light-purple);
}
h2 {
  font-size: 3rem;
  color: var(--medium-purple);
}
h3 {
  font-size: 2.7rem;
  color: var(--intense-green);
  font-weight: 900;
}
h4 {
font-size: 3rem;
}

#home__hcontainer {
  height: 100vh;
  h1 {
    font-size : 7vw ; 
    text-shadow : 2px 2px 15px var(--intense-green);
    padding : 2rem 0 2rem ; 
    letter-spacing: 2vw;
    font-weight: 900;
  }
  h2 {
    color: var(--light-purple); 
    margin-top: 5vw;
    font-size : 4vw ; 
    font-weight: 200;
    text-shadow : -0.5px 0.5px 15px var(--intense-green)
  }
} 

/* XXXX SECTION XXXXX */ 

section .header__h1h2container { 
  padding : 2rem 0 2rem 0 ;
}

/*XXXXXXXXX ARTICLE */

article {
  display: flex;
  flex-flow: column;
  text-align: left;
  padding-top: 4rem ; 
  padding-bottom: 7rem;  
  }

  .article__header {
    width: 100%;
    display: flex;
    justify-content: left ; 
    gap: 3rem ;
    flex-wrap: wrap;
  }

.description {
p, li{
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--light-green);
  font-size: 1.3rem;
  line-height: 1.5;
  padding-bottom: 1rem ;
}
}
.description {
  li {
    color: var(--light-green);
    list-style-type: circle ;
    list-style-position: inside;
  }
}
.description--highlight {
  background-color: rgba(126, 214, 172, 0.3); 
  padding: 0.1% 0.5rem ;
  border-radius: 5%;
}

.description--undertitle {
  padding : 7rem 0 3rem 0;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: var(--intense-purple);
  text-decoration: underline;
  &:hover {
    color: var(--light-purple);
  }
}


