h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  h4 {
    font-size: 1.8rem;
  }

  /* put here the article styling ? in this case uncascade and extract from the index file */ 