/* XXXXXXXX TITLES XXXXXXXX */


/* to be done : 
    * left align every title in the section, see within the sections what is blocking header to be applied 
    * 
*/ 


h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  text-align: left;
}
h1 {
font-size: 4rem;
}
h2 {
font-size: 1.8rem;
}
h3 {
font-size: 1.9rem;
}
h4 {
font-size: 1.8rem;
}

article {
display: flex;
flex-flow: column;
align-items: center;
text-align: left;
/* background: hsla(0, 0%, 0%, 0.6); */
/* if disabling the panel background, disable also box-shadow bellow */
/* box-shadow: -1px -1px 1px 0 black, 4px 6px 12px 6px black; */
}

.description {
p {
  line-height: 1.5; 
  font-size: 1.3rem;
  padding-bottom: 1rem ;
}
}

/* shall we moove the section styling to global ? */ 
section {
  max-width : 800px ; 
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin : auto ; 
}
