footer {
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--intense-purple-transp);
}
footer p {
  font-size: 0.8rem;
  font-weight: 100;
  font-family: 'Source Sans 3', sans-serif;
  color: var(--light-green-transp);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}
