.infos {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  & .description__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & .description p:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  & a {
    font-weight: 800;
    color: var(--light-purple);
    text-decoration: underline;
  }
  & ul {
    list-style-type: disc;
  }
}
