#nav-gallery {
  transition: all 0.33s ease-in-out;
  animation-duration: 0.33s;
  position: fixed;
  left: 50px;
  top: 120px;
  transform: translateX(-50%);
  height: calc(100vh - 120px - 30px);
  opacity: 0;
  display: none;
}

#nav-gallery.nav-gallery-show {
  animation-name: nav-gallery-show;
  display: block;
  opacity: 1;
}
#nav-gallery.nav-gallery-hide {
  animation-name: nav-gallery-hide;
  display: none;
  opacity: 0;
}

#nav-gallery ul {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  list-style: none;
}
ul#nav-gallery-art-icon {
  display: flex;
}
ul#nav-gallery-arrow-icon {
  display: none;
}
@media (max-height: 640px) {
  #nav-gallery {
    height: 120px;
  }
  ul#nav-gallery-art-icon {
    display: none;
  }
  ul#nav-gallery-arrow-icon {
    display: flex;
  }
}

#nav-gallery ul figure {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
}
#nav-gallery ul figure img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
#nav-gallery ul figure figcaption {
  display: none;
  position: absolute;
  text-wrap: nowrap;
  top: 50%;
  transform: translate(60px, -50%);
  color: var(--light-purple);
}
#nav-gallery ul figure:hover img,
#nav-gallery ul figure:focus img {
  box-shadow: 0 0 2px 2px var(--light-purple);
}
#nav-gallery ul figure:hover figcaption,
#nav-gallery ul figure:focus figcaption {
  @media (min-width: 1090px) {
    display: block;
  }
}

#nav-gallery div.vertical-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 1px;
  height: 99%;
  background-color: var(--light-green);
}

.arrow-up {
  transform: rotate(-90deg);
}
.arrow-down {
  transform: rotate(+90deg);
}

@keyframes nav-gallery-hide {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes nav-gallery-show {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
